
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@include mat-core();

$easyedit-app-primary: mat-palette($mat-orange);
$easyedit-app-accent:  mat-palette($mat-pink, A200, A100, A400);

$easyedit-app-warn: mat-palette($mat-red);

$easyedit-app-theme: mat-light-theme($easyedit-app-primary, $easyedit-app-accent, $easyedit-app-warn);

@include angular-material-theme($easyedit-app-theme);

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


// HANDLE TOAST EXTENSION
@import '~ngx-toastr/toastr.css';

#toast-container > div {
   opacity: 1 !important;

}

* {
  font-family: Helvetica, sans-serif ;
}


/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}
